@tailwind base;
@tailwind components;
@tailwind utilities;
body{
    background-image: url(./image/backGround.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
}